In [1]:
import pandas as pd
import geopandas as gp

In [2]:
akwa_ibom = gp.read_file('akwa-ibom.geojson')

In [3]:
akwa_ibom.columns

Index(['id', 'geometry_type', 'latitude', 'longitude', 'global_id', 'name',
       'category', 'sub_type', 'management', 'education', 'poi_type',
       'number_of_teachers', 'number_of_students', 'ward_code', 'source',
       'ward_name', 'lga_code', 'lga_name', 'state_code', 'state_name',
       'geometry'],
      dtype='object')

In [4]:
ibom = akwa_ibom.drop(['id', 'geometry_type','global_id','category','education','poi_type','number_of_students',
                      'number_of_teachers','ward_code','source','lga_code','state_code','geometry'], axis =1)

In [5]:
ibom

,latitude,longitude,name,sub_type,management,ward_name,lga_name,state_name
0,4.976040,7.792313,Government Technical College,Adult Education,Public,Abak 3,Abak,Akwa Ibom
1,4.635038,7.922115,School Of Pyschiatry Nursing Atibe,Adult Education,Public,Urban 4,Eket,Akwa Ibom
2,4.671838,8.004784,Eket Vocational Technical College Effoi,Adult Education,Private,Central 4,Eket,Akwa Ibom
3,4.658474,8.104074,Hidden Treasure Christian Acedemy Idung Akpesan,Adult Education,Public,Etebi 1,Esit Eket,Akwa Ibom
4,4.663128,8.047111,Union Technical College,Adult Education,Faith Based,Uquo 1,Esit Eket,Akwa Ibom
5,4.726830,7.816594,Adult Education Centre,Adult Education,Public,South Iman 4,Etinan,Akwa Ibom
6,4.972199,7.469303,Ika Community Vocational Institute,Adult Education,Public,Odoro 2,Ika,Akwa Ibom
7,5.032713,7.587678,Life Leadership University Ikot Antia,Adult Education,Public,Achan 3,Ika,Akwa Ibom
8,4.581800,7.657271,Ukpum Ete Secondary Technical School Ete,Adult Education,Public,Ukpon Ete 2,Ikot Abasi,Akwa Ibom
9,5.179367,7.723162,Mid Town Secondary Community School,Adult Education,Public,Ikot Ekpene Urban,Ikot Ekpene,Akwa Ibom
10,4.661615,8.256204,Mbo Vocational and Craft Center Enwang,Adult Education,Public,Enwang 1,Mbo,Akwa Ibom
11,4.621508,7.763546,Akwa Ibom State University Ikot Akpaden,Adult Education,Public,Ikpa Ibom 3,Mkpat Enin,Akwa Ibom
12,4.857471,7.889293,Social Dev Edu info Youth and Sport,Adult Education,Public,Mbiaso 1,Nsit Ibom,Akwa Ibom
13,4.771080,7.903440,Norman Cummings Nursing Ikot Akan,Adult Education,Public,Itreto,Nsit Ubium,Akwa Ibom
14,4.859862,8.162445,Odu College,Adult Education,Public,Nung Atai Ube 1,Okobo,Akwa Ibom
15,4.806889,8.236313,Mainland Technical College Oron,Adult Education,Public,Uko Uyikim,Oron,Akwa Ibom
16,4.682922,7.584922,Adult Education Center Ikot Akpan Udo 1,Adult Education,Public,Abak Midim 4,Oruk Anam,Akwa Ibom
17,4.965400,7.761750,Akwa Ibom State University Ata Obio Akpa,Adult Education,Public,Ndot Ikot Okoro 2,Oruk Anam,Akwa Ibom
18,4.857232,7.538682,Social Dev Edu info sports culture,Adult Education,Public,Ward 2,Ukanafun,Akwa Ibom
19,5.027911,7.940694,Government Technical College Ewet uyo,Adult Education,Public,Urban 3,Uyo,Akwa Ibom
20,5.043712,7.924297,University,Adult Education,Public,Urban 2,Uyo,Akwa Ibom

In [6]:
delta = gp.read_file('delta.geojson')
ogun = gp.read_file('ogun.geojson')
kaduna = gp.read_file('kaduna.geojson')
lagos = gp.read_file('lagos.geojson')

In [7]:
delta = delta.drop(['id', 'geometry_type','global_id','category','education','poi_type','number_of_students',
                      'number_of_teachers','ward_code','source','lga_code','state_code','geometry'], axis =1)
ogun = ogun.drop(['id', 'geometry_type','global_id','category','education','poi_type','number_of_students',
                      'number_of_teachers','ward_code','source','lga_code','state_code','geometry'], axis =1)
kaduna = kaduna.drop(['id', 'geometry_type','global_id','category','education','poi_type','number_of_students',
                      'number_of_teachers','ward_code','source','lga_code','state_code','geometry'], axis =1)
lagos = lagos.drop(['id', 'geometry_type','global_id','category','education','poi_type','number_of_students',
                      'number_of_teachers','ward_code','source','lga_code','state_code','geometry'], axis =1)

In [8]:
ibom.head(2)

,latitude,longitude,name,sub_type,management,ward_name,lga_name,state_name
0,4.976040,7.792313,Government Technical College,Adult Education,Public,Abak 3,Abak,Akwa Ibom
1,4.635038,7.922115,School Of Pyschiatry Nursing Atibe,Adult Education,Public,Urban 4,Eket,Akwa Ibom

In [9]:
delta.head(2)

,latitude,longitude,name,sub_type,management,ward_name,lga_name,state_name
0,6.305565,6.500436,Issele Uku Technical College Issele Uku,Adult Education,Public,Issele-Uku 1,Aniocha North,Delta
1,6.383765,6.564490,Matmo Technical Vocational College,Standard,Private,Onicha-Olona,Aniocha North,Delta

In [10]:
ogun.head(2)

,latitude,longitude,name,sub_type,management,ward_name,lga_name,state_name
0,7.240205,3.061578,College Of Agricultural Sciences Olabisi Onaba...,Adult Education,Public,Imala,Abeokuta North,Ogun
1,7.163057,3.353322,Dot Institute Of Technology Wasinmi Ake,Adult Education,Private,Ake 1,Abeokuta South,Ogun

In [11]:
kaduna.head(2)

,latitude,longitude,name,sub_type,management,ward_name,lga_name,state_name
0,10.642828,7.475043,Madarasatul Zaharatul Islam,Adult Education,Private,Rigachikun,Igabi,Kaduna
1,10.612106,7.467158,National Open University,Tertiary,None,Rigachikun,Igabi,Kaduna

In [12]:
lagos.head(2)

,latitude,longitude,name,sub_type,management,ward_name,lga_name,state_name
0,6.620998,3.316266,Arabic And Islamic Training Center,Standard,Faith Based,Awori Oniwaya,Agege,Lagos
1,6.456790,3.343598,Art and Craft Centre Bale Adeyemo Street,Adult Education,Public,Aiyetoro,Ajeromi/Ifelodun,Lagos

In [13]:
print(lagos.shape)
print(ibom.shape)
print(ogun.shape)
print(kaduna.shape)
print(delta.shape)

(59, 8)
(21, 8)
(37, 8)
(17, 8)
(22, 8)

In [14]:
merged_df = pd.concat([lagos, kaduna, ogun, delta, ibom,])

In [15]:
merged_df.head()

,latitude,longitude,name,sub_type,management,ward_name,lga_name,state_name
0,6.620998,3.316266,Arabic And Islamic Training Center,Standard,Faith Based,Awori Oniwaya,Agege,Lagos
1,6.456790,3.343598,Art and Craft Centre Bale Adeyemo Street,Adult Education,Public,Aiyetoro,Ajeromi/Ifelodun,Lagos
2,6.464956,3.340561,Home Economics Centre,Adult Education,Public,Amukoko,Ajeromi/Ifelodun,Lagos
3,6.600760,3.242530,Anchor University,Adult Education,Private,Ayobo,Alimosho,Lagos
4,6.615938,3.296800,Alimosho Resource Centre,Adult Education,Public,Oki,Alimosho,Lagos

In [16]:
merged_df.tail()

,latitude,longitude,name,sub_type,management,ward_name,lga_name,state_name
16,4.682922,7.584922,Adult Education Center Ikot Akpan Udo 1,Adult Education,Public,Abak Midim 4,Oruk Anam,Akwa Ibom
17,4.965400,7.761750,Akwa Ibom State University Ata Obio Akpa,Adult Education,Public,Ndot Ikot Okoro 2,Oruk Anam,Akwa Ibom
18,4.857232,7.538682,Social Dev Edu info sports culture,Adult Education,Public,Ward 2,Ukanafun,Akwa Ibom
19,5.027911,7.940694,Government Technical College Ewet uyo,Adult Education,Public,Urban 3,Uyo,Akwa Ibom
20,5.043712,7.924297,University,Adult Education,Public,Urban 2,Uyo,Akwa Ibom

In [17]:
merged_df.shape

(156, 8)

In [18]:
data = merged_df.to_csv('Data.csv')

In [22]:
merged_df.head(3)

,latitude,longitude,name,sub_type,management,ward_name,lga_name,state_name
0,6.620998,3.316266,Arabic And Islamic Training Center,Standard,Faith Based,Awori Oniwaya,Agege,Lagos
1,6.456790,3.343598,Art and Craft Centre Bale Adeyemo Street,Adult Education,Public,Aiyetoro,Ajeromi/Ifelodun,Lagos
2,6.464956,3.340561,Home Economics Centre,Adult Education,Public,Amukoko,Ajeromi/Ifelodun,Lagos

In [23]:
jason = gp.read_file('us-cities.json')

In [24]:
jason.head(3)

    id  POP_2010  ELEV_IN_FT STATE                     geometry
0   53   40888.0      1611.0    ND  POINT (-101.29627 48.23251)
1  101   52838.0       830.0    ND   POINT (-97.03285 47.92526)
2  153   15427.0      1407.0    ND   POINT (-98.70844 46.91054)

In [25]:
jason.shape

(3666, 5)

In [27]:
gdf = gp.GeoDataFrame(
    merged_df, geometry=gp.points_from_xy(merged_df.longitude, merged_df.latitude))

In [28]:
gdf.head()

,latitude,longitude,name,sub_type,management,ward_name,lga_name,state_name,geometry
0,6.620998,3.316266,Arabic And Islamic Training Center,Standard,Faith Based,Awori Oniwaya,Agege,Lagos,POINT (3.31627 6.62100)
1,6.456790,3.343598,Art and Craft Centre Bale Adeyemo Street,Adult Education,Public,Aiyetoro,Ajeromi/Ifelodun,Lagos,POINT (3.34360 6.45679)
2,6.464956,3.340561,Home Economics Centre,Adult Education,Public,Amukoko,Ajeromi/Ifelodun,Lagos,POINT (3.34056 6.46496)
3,6.600760,3.242530,Anchor University,Adult Education,Private,Ayobo,Alimosho,Lagos,POINT (3.24253 6.60076)
4,6.615938,3.296800,Alimosho Resource Centre,Adult Education,Public,Oki,Alimosho,Lagos,POINT (3.29680 6.61594)

In [29]:
geo_data = gdf.drop(['latitude', 'longitude'], axis=1)

In [30]:
geo_data.head()

,name,sub_type,management,ward_name,lga_name,state_name,geometry
0,Arabic And Islamic Training Center,Standard,Faith Based,Awori Oniwaya,Agege,Lagos,POINT (3.31627 6.62100)
1,Art and Craft Centre Bale Adeyemo Street,Adult Education,Public,Aiyetoro,Ajeromi/Ifelodun,Lagos,POINT (3.34360 6.45679)
2,Home Economics Centre,Adult Education,Public,Amukoko,Ajeromi/Ifelodun,Lagos,POINT (3.34056 6.46496)
3,Anchor University,Adult Education,Private,Ayobo,Alimosho,Lagos,POINT (3.24253 6.60076)
4,Alimosho Resource Centre,Adult Education,Public,Oki,Alimosho,Lagos,POINT (3.29680 6.61594)

In [34]:
data2 = geo_data.to_csv('geodata.csv')

In [30]:
import pandas as pd
import geopandas as gp
geodata = gp.read_file('countries.geojson')
pop_data = pd.read_csv('popnew.csv')

In [31]:
a = pop_data.sort_values('Country')
a

                     Country    id  Population
0                    Algeria    AL    43851044
1                     Angola    AN    32866272
2                      Benin    BE    12123200
3                   Botswana    BO     2351627
4               Burkina Faso    BF    20903273
5                    Burundi    BU    11890784
6                   Cameroon    CA    26545863
7                 Cape Verde    CV      555987
8   Central African Republic   CAR     4829767
9                       Chad    CH    16425864
10                   Comoros    CO      869601
11                     Congo    CN     5518087
13                  DR Congo   DRC    89561403
12                  Djibouti    DJ      988000
14                     Egypt   EGT   102334404
15         Equatorial Guinea    EG     1402985
16                   Eritrea    ER     3546421
17                  Ethiopia    ET   114963588
18                     Gabon   GAB     2225734
19                    Gambia   GAM     2416668
20                     Ghana    GH    31072940
21                    Guinea    GU    13132795
22             Guinea-Bissau    GB     1968001
23               Ivory Coast    IV    26378274
24                     Kenya    KE    53771296
25                La Reunion    LR      895312
26                   Lesotho    LE     2142249
27                   Liberia   LIB     5057681
28                     Libya   LIY     6871292
29                Madagascar   MAD    27691018
30                    Malawi   MAL    19129952
31                      Mali   MLI    20250833
32                Mauritania   MAU     4649658
33                 Mauritius  MAUT     1271768
34                   Morocco   MOR    36910560
35                Mozambique   MOZ    31255435
36                   Namibia   NAM     2540905
37                     Niger    NI    24206644
38                   Nigeria   NIG   206139589
39                    Rwanda    RW    12952218
40     Sao Tome and Principe   STP      219159
41                   Senegal   SEN    16743927
42                Seychelles   SEY       98347
43              Sierra Leone    SL     7976983
44                   Somalia    SO    15893222
45              South Africa    SA    59308690
46               South Sudan    SS    11193725
47                     Sudan    SU    43849260
48                 Swaziland    SW      272815
49                  Tanzania    TA    59734218
50                      Togo    TO     8278724
51                   Tunisia    TU    11818619
52                    Uganda    UG    45741007
53            Western Sahara    WZ      597339
54                    Zambia    ZA    18383955
55                  Zimbabwe    ZI    14862924

In [32]:
b = geodata.sort_values('name')
b

,id,name,created_at,updated_at,geometry
0,AL,Algeria,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((8.62162 36.94180, 8.63790 36.8..."
1,AN,Angola,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((13.09075 -...
2,BE,Benin,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((1.63590 6.21926, 1.79997 6.281..."
3,BO,Botswana,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((22.62426 -26.11141, 22.25002 -..."
4,BF,Burkina Faso,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((0.23523 14.91480, 0.16608 14.5..."
5,BU,Burundi,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((29.42286 -4.44780, 29.38761 -4..."
6,CA,Cameroon,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((14.07515 13.08159, 14.44261 13..."
7,CV,Cape Verde,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((-25.28191 ...
8,CAR,Central African Republic,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((18.62564 3.47893, 18.49140 3.6..."
9,CH,Chad,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((22.86697 10.92296, 22.46561 11..."
10,CO,Comoros,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((43.45397 -11.93657, 43.22075 -..."
11,CN,Congo,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((13.09075 -4.63356, 12.86431 -4..."
12,DRC,DR Congo,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((29.23710 -3.27221, 29.23575 -3..."
13,DJ,Djibouti,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((42.39906 12.47007, 42.53601 12..."
14,EGT,Egypt,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((36.88858 21.99951, 31.45404 21..."
15,EG,Equatorial Guinea,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((8.62569 3....
16,ER,Eritrea,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((37.57197 14.10260, 37.27909 14..."
17,ET,Ethiopia,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((37.57197 14.10260, 37.91095 14..."
18,GAB,Gabon,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((9.80399 1.00302, 11.35381 1.00..."
19,GAM,Gambia,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-16.56603 13.59006, -15.48943 ..."
20,GH,Ghana,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-3.10306 5.08435, -3.10170 5.1..."
21,GU,Guinea,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-10.26641 8.48772, -10.38573 8..."
22,GB,Guinea-Bissau,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-16.71789 12.32227, -16.20942 ..."
23,IV,Ivory Coast,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-7.52473 4.35215, -7.56405 4.3..."
24,KE,Kenya,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((36.04520 4.44707, 36.88723 4.4..."
25,LR,La Reunion,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((55.71017 -20.99822, 55.85119 -..."
26,LE,Lesotho,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((29.13676 -29.77918, 29.16524 -..."
27,LIB,Liberia,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-11.49216 6.92705, -11.30504 7..."
28,LIY,Libya,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((11.98703 23.52221, 11.55856 24..."
29,MAD,Madagascar,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((48.33259 -...
30,MAL,Malawi,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((33.22216 -14.01249, 32.99030 -..."
31,MLI,Mali,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-4.80610 25.00017, -2.82509 23..."
32,MAU,Mauritania,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-8.66641 27.29033, -7.20337 26..."
33,MAUT,Mauritius,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((57.52982 -20.52093, 57.30610 -..."
34,MOR,Morocco,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-5.15186 30.17980, -5.55999 29..."
35,MOZ,Mozambique,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((32.88996 -26.84767, 32.13336 -..."
36,NAM,Namibia,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((23.28459 -17.66264, 23.47578 -..."
37,NI,Niger,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((3.60470 11.69313, 2.83861 12.3..."
38,NIG,Nigeria,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((9.06501 12.84431, 9.63450 12.8..."
39,RW,Rwanda,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((29.57066 -2.80035, 29.34964 -2..."
40,STP,Sao Tome and Principe,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((6.52401 0.01861, 6.46435 0.198..."
41,SEN,Senegal,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-16.52807 16.06056, -16.38298 ..."
42,SEY,Seychelles,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((55.53255 -4.78949, 55.37526 -4..."
43,SL,Sierra Leone,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-13.29554 9.03280, -13.00808 9..."
44,SO,Somalia,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((41.55839 -1.67494, 41.55568 -1..."
45,SA,South Africa,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((14.52532 -...
46,SS,South Sudan,2013-11-12T18:50:48,2013-11-12T18:50:48,"POLYGON ((34.11441 9.48785, 34.14293 9.04348, ..."
47,SU,Sudan,2013-11-12T18:48:52,2013-11-12T18:48:52,"POLYGON ((38.28014 18.27486, 37.02125 17.09605..."
48,SW,Swaziland,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((31.98556 -27.28971, 31.51777 -..."
49,TA,Tanzania,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((39.85535 -...
50,TO,Togo,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((0.99997 10.22059, 1.35522 9.99..."
51,TU,Tunisia,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((11.52601 33.17097, 11.46635 32..."
52,UG,Uganda,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((33.43911 -1.00104, 30.75167 -0..."
53,WZ,Western Sahara,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-13.17486 27.66727, -8.66641 2..."
54,ZA,Zambia,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((24.97001 -17.55959, 24.66357 -..."
55,ZI,Zimbabwe,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((32.98759 -17.26536, 32.95369 -..."

In [19]:
# # pop_data['Country'] = pop_data['Country'].replace({'Cabo Verde': 'Cape Verde', 'Réunion': 'La Reunion', 'Sao Tome & Principe' : 'Sao Tome and Principe', 'Mayotte':'Swaziland'})
# geodata['name'] = geodata['name'].replace({'Côte d''Ivoire' : 'Ivory Coast'})

In [20]:
b['cartodb_id'] = a['id'].values
# df['B'] = df1['E'].values

In [27]:
df_new = df_new.rename(columns={'cartodb_id': 'id'})

In [29]:
df_new.to_file("countries.geojson", driver='GeoJSON')

,name,id,created_at,updated_at,geometry
0,Algeria,AL,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((8.62162 36.94180, 8.63790 36.8..."
1,Angola,AN,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((13.09075 -...
2,Benin,BE,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((1.63590 6.21926, 1.79997 6.281..."
3,Botswana,BO,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((22.62426 -26.11141, 22.25002 -..."
4,Burkina Faso,BF,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((0.23523 14.91480, 0.16608 14.5..."
5,Burundi,BU,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((29.42286 -4.44780, 29.38761 -4..."
6,Cameroon,CA,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((14.07515 13.08159, 14.44261 13..."
7,Cape Verde,CV,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((-25.28191 ...
8,Central African Republic,CAR,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((18.62564 3.47893, 18.49140 3.6..."
9,Chad,CH,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((22.86697 10.92296, 22.46561 11..."
10,Comoros,CO,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((43.45397 -11.93657, 43.22075 -..."
11,Congo,CN,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((13.09075 -4.63356, 12.86431 -4..."
53,DR Congo,DRC,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((29.23710 -3.27221, 29.23575 -3..."
12,Djibouti,DJ,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((42.39906 12.47007, 42.53601 12..."
13,Egypt,EGT,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((36.88858 21.99951, 31.45404 21..."
14,Equatorial Guinea,EG,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((8.62569 3....
15,Eritrea,ER,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((37.57197 14.10260, 37.27909 14..."
16,Ethiopia,ET,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((37.57197 14.10260, 37.91095 14..."
17,Gabon,GAB,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((9.80399 1.00302, 11.35381 1.00..."
18,Gambia,GAM,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-16.56603 13.59006, -15.48943 ..."
19,Ghana,GH,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-3.10306 5.08435, -3.10170 5.1..."
20,Guinea,GU,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-10.26641 8.48772, -10.38573 8..."
21,Guinea-Bissau,GB,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-16.71789 12.32227, -16.20942 ..."
22,Ivory Coast,IV,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-7.52473 4.35215, -7.56405 4.3..."
23,Kenya,KE,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((36.04520 4.44707, 36.88723 4.4..."
37,La Reunion,LR,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((55.71017 -20.99822, 55.85119 -..."
24,Lesotho,LE,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((29.13676 -29.77918, 29.16524 -..."
25,Liberia,LIB,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-11.49216 6.92705, -11.30504 7..."
26,Libya,LIY,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((11.98703 23.52221, 11.55856 24..."
27,Madagascar,MAD,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((48.33259 -...
28,Malawi,MAL,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((33.22216 -14.01249, 32.99030 -..."
29,Mali,MLI,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-4.80610 25.00017, -2.82509 23..."
30,Mauritania,MAU,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-8.66641 27.29033, -7.20337 26..."
31,Mauritius,MAUT,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((57.52982 -20.52093, 57.30610 -..."
32,Morocco,MOR,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-5.15186 30.17980, -5.55999 29..."
33,Mozambique,MOZ,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((32.88996 -26.84767, 32.13336 -..."
34,Namibia,NAM,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((23.28459 -17.66264, 23.47578 -..."
35,Niger,NI,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((3.60470 11.69313, 2.83861 12.3..."
36,Nigeria,NIG,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((9.06501 12.84431, 9.63450 12.8..."
38,Rwanda,RW,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((29.57066 -2.80035, 29.34964 -2..."
39,Sao Tome and Principe,STP,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((6.52401 0.01861, 6.46435 0.198..."
40,Senegal,SEN,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-16.52807 16.06056, -16.38298 ..."
41,Seychelles,SEY,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((55.53255 -4.78949, 55.37526 -4..."
42,Sierra Leone,SL,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-13.29554 9.03280, -13.00808 9..."
43,Somalia,SO,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((41.55839 -1.67494, 41.55568 -1..."
44,South Africa,SA,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((14.52532 -...
46,South Sudan,SS,2013-11-12T18:50:48,2013-11-12T18:50:48,"POLYGON ((34.11441 9.48785, 34.14293 9.04348, ..."
45,Sudan,SU,2013-11-12T18:48:52,2013-11-12T18:48:52,"POLYGON ((38.28014 18.27486, 37.02125 17.09605..."
47,Swaziland,SW,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((31.98556 -27.28971, 31.51777 -..."
48,Tanzania,TA,2013-11-12T16:15:59,2013-11-12T16:15:59,GEOMETRYCOLLECTION (MULTIPOLYGON (((39.85535 -...
49,Togo,TO,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((0.99997 10.22059, 1.35522 9.99..."
50,Tunisia,TU,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((11.52601 33.17097, 11.46635 32..."
51,Uganda,UG,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((33.43911 -1.00104, 30.75167 -0..."
52,Western Sahara,WZ,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((-13.17486 27.66727, -8.66641 2..."
54,Zambia,ZA,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((24.97001 -17.55959, 24.66357 -..."
55,Zimbabwe,ZI,2013-11-12T16:15:59,2013-11-12T16:15:59,"MULTIPOLYGON (((32.98759 -17.26536, 32.95369 -..."

In [25]:
geodata.shape

(56, 5)

In [26]:
data['Population'] = data['Population'].astype(float)